*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --loader-background: #000;
    --loader-background-circle: rgba(69, 189, 32, 0.7);
    --background: url(../img/background.jpg);
    --main-color: #92ad2e;
    --title-color: #86b142;
    --clr-neon: hsl(81, 64%, 41%);
    --clr-bg: hsl(323 21% 16%);
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1020px;
    margin: auto;
    width: 100%;
}

body {
    background-image: url(../img/background.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--main-color);
    font-size: 20px;
    line-height: 250%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}

a {
    text-decoration: none;
    transition: .4s;
    color: inherit;
    cursor: pointer;
}

p {
    text-indent: 25px;
    line-height: 30px;
    letter-spacing: 2px;
}


ul li{
    list-style: none;
}

