.about__title {
    margin-bottom: 13px;
    font-size: 24px;
}

.about__text {
    margin-bottom: 20px;
}

.buy {
    border: 1px solid black;
    border-radius: 10px;
    transition: .4s;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.buy:hover {
    border-radius: 15px;
}



.roadmap-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.roadmap__line {
    width: 100%;
    height: 2px;
    background: #000;
    margin-bottom: 20px;
}

.roadmap__img {
    width: 100px;
    height: 100px;
}

.roadmap__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
}

.roadmap__text {
    text-align: center;
}

/* Стилі для планшетів і десктопів */
@media (min-width: 768px) {
    .roadmap-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        max-width: 220px;
    }
    .roadmap__line{
        display: none;
    }
}

.main-btn{
    font-size: 30px;
}

.join{
    display: grid;
    place-items: center;
    margin: 40px 0;
}